{
    "basePath": "", 
    "baseUrl": "https://mybusiness.googleapis.com/", 
    "batchPath": "batch", 
    "canonicalName": "My Business", 
    "description": "The Google My Business API provides an interface for managing business location information on Google.", 
    "discoveryVersion": "v1", 
    "documentationLink": "https://developers.google.com/my-business/", 
    "fullyEncodeReservedExpansion": true, 
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif", 
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    }, 
    "id": "mybusiness:v4", 
    "kind": "discovery#restDescription", 
    "mtlsRootUrl": "https://mybusiness.mtls.googleapis.com/", 
    "name": "mybusiness", 
    "ownerDomain": "google.com", 
    "ownerName": "Google", 
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.", 
            "enum": [
                "1", 
                "2"
            ], 
            "enumDescriptions": [
                "v1 error format", 
                "v2 error format"
            ], 
            "location": "query", 
            "type": "string"
        }, 
        "access_token": {
            "description": "OAuth access token.", 
            "location": "query", 
            "type": "string"
        }, 
        "alt": {
            "default": "json", 
            "description": "Data format for response.", 
            "enum": [
                "json", 
                "media", 
                "proto"
            ], 
            "enumDescriptions": [
                "Responses with Content-Type of application/json", 
                "Media download with context-dependent Content-Type", 
                "Responses with Content-Type of application/x-protobuf"
            ], 
            "location": "query", 
            "type": "string"
        }, 
        "callback": {
            "description": "JSONP", 
            "location": "query", 
            "type": "string"
        }, 
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.", 
            "location": "query", 
            "type": "string"
        }, 
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.", 
            "location": "query", 
            "type": "string"
        }, 
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.", 
            "location": "query", 
            "type": "string"
        }, 
        "prettyPrint": {
            "default": "true", 
            "description": "Returns response with indentations and line breaks.", 
            "location": "query", 
            "type": "boolean"
        }, 
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.", 
            "location": "query", 
            "type": "string"
        }, 
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").", 
            "location": "query", 
            "type": "string"
        }, 
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").", 
            "location": "query", 
            "type": "string"
        }
    }, 
    "protocol": "rest", 
    "resources": {
        "accounts": {
            "methods": {
                "create": {
                    "description": "Creates an account with the specified name and type under the given parent.\n<ul>\n<li> Personal accounts and Organizations cannot be created. </li>\n<li> User Groups cannot be created with a Personal account as primary\nowner. </li>\n<li> Location Groups cannot be created with a primary owner of a\nPersonal account if the Personal account is in an Organization. </li>\n<li> Location Groups cannot own Location Groups. </li>\n</ul>", 
                    "flatPath": "v4/accounts", 
                    "httpMethod": "POST", 
                    "id": "mybusiness.accounts.create", 
                    "parameterOrder": [], 
                    "parameters": {
                        "primaryOwner": {
                            "description": "The resource name of the account which will be the primary owner of the\naccount being created. It should be of the form `accounts/{account_id}/`.", 
                            "location": "query", 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/accounts", 
                    "request": {
                        "$ref": "Account"
                    }, 
                    "response": {
                        "$ref": "Account"
                    }
                }, 
                "deleteNotifications": {
                    "description": "Clears the pubsub notification settings for the account.", 
                    "flatPath": "v4/accounts/{accountsId}/notifications", 
                    "httpMethod": "DELETE", 
                    "id": "mybusiness.accounts.deleteNotifications", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "The resource name for the notification settings to be cleared.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+/notifications$", 
                            "required": true, 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/{+name}", 
                    "response": {
                        "$ref": "Empty"
                    }
                }, 
                "generateAccountNumber": {
                    "description": "Generates an account number for this account. The account number is not\nprovisioned when an account is created. Use this request to create an\naccount number when it is required.", 
                    "flatPath": "v4/accounts/{accountsId}:generateAccountNumber", 
                    "httpMethod": "POST", 
                    "id": "mybusiness.accounts.generateAccountNumber", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "The name of the account to generate an account number for.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+$", 
                            "required": true, 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/{+name}:generateAccountNumber", 
                    "request": {
                        "$ref": "GenerateAccountNumberRequest"
                    }, 
                    "response": {
                        "$ref": "Account"
                    }
                }, 
                "get": {
                    "description": "Gets the specified account. Returns `NOT_FOUND` if the\naccount does not exist or if the caller does not have access rights to it.", 
                    "flatPath": "v4/accounts/{accountsId}", 
                    "httpMethod": "GET", 
                    "id": "mybusiness.accounts.get", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "The name of the account to fetch.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+$", 
                            "required": true, 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/{+name}", 
                    "response": {
                        "$ref": "Account"
                    }
                }, 
                "getNotifications": {
                    "description": "Returns the pubsub notification settings for the account.", 
                    "flatPath": "v4/accounts/{accountsId}/notifications", 
                    "httpMethod": "GET", 
                    "id": "mybusiness.accounts.getNotifications", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "The notification settings resource name.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+/notifications$", 
                            "required": true, 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/{+name}", 
                    "response": {
                        "$ref": "Notifications"
                    }
                }, 
                "list": {
                    "description": "Lists all of the accounts for the authenticated user. This includes all\naccounts that the user owns, as well as any accounts for which the user\nhas management rights.", 
                    "flatPath": "v4/accounts", 
                    "httpMethod": "GET", 
                    "id": "mybusiness.accounts.list", 
                    "parameterOrder": [], 
                    "parameters": {
                        "filter": {
                            "description": "A filter constraining the accounts to return. The response includes\nonly entries that match the filter. If `filter` is empty, then no\nconstraints are applied and all accounts (paginated) are retrieved for\nthe requested account.\n\nFor example, a request with the filter `type=USER_GROUP` will only return\nuser groups.", 
                            "location": "query", 
                            "type": "string"
                        }, 
                        "name": {
                            "description": "The resource name of the account for which the list of directly accessible\naccounts is to be retrieved. This only makes sense for Organizations and\nUser Groups. If empty, will return `ListAccounts` for the authenticated\nuser.", 
                            "location": "query", 
                            "type": "string"
                        }, 
                        "pageSize": {
                            "description": "How many accounts to fetch per page. Default is 20,\nminimum is 2, and maximum page size is 20.", 
                            "format": "int32", 
                            "location": "query", 
                            "type": "integer"
                        }, 
                        "pageToken": {
                            "description": "If specified, the next page of accounts is retrieved. The `pageToken` is\nreturned when a call to `accounts.list` returns more results than can fit\ninto the requested page size.", 
                            "location": "query", 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/accounts", 
                    "response": {
                        "$ref": "ListAccountsResponse"
                    }
                }, 
                "listRecommendGoogleLocations": {
                    "description": "List all the GoogleLocations that\nhave been recommended to the specified GMB account.\nRecommendations are provided for personal accounts and location groups\nonly, requests for all other account types will result in an error.\nThe recommendations for location groups are based on the locations in that\ngroup.\n\nThe recommendations for personal accounts are based on all of\nthe locations that the user has access to on Google My Business (which\nincludes locations they can access through location groups), and is a\nsuperset of all recommendations generated for the user.", 
                    "flatPath": "v4/accounts/{accountsId}:recommendGoogleLocations", 
                    "httpMethod": "GET", 
                    "id": "mybusiness.accounts.listRecommendGoogleLocations", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "Name of the account resource to fetch recommended Google locations for.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+$", 
                            "required": true, 
                            "type": "string"
                        }, 
                        "pageSize": {
                            "description": "How many locations to fetch per page. Default is 25, minimum is 1, and\nmaximum page size is 100.", 
                            "format": "int32", 
                            "location": "query", 
                            "type": "integer"
                        }, 
                        "pageToken": {
                            "description": "If specified, the next page of locations is retrieved.", 
                            "location": "query", 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/{+name}:recommendGoogleLocations", 
                    "response": {
                        "$ref": "ListRecommendedGoogleLocationsResponse"
                    }
                }, 
                "update": {
                    "description": "Updates the specified business account. Personal accounts cannot be\nupdated using this method.\n<aside class=\"note\"><b>Note:</b> The only editable field for an account is\n`account_name`.\nAny other fields passed in (such as `type` or `role`) are\nignored.</aside>", 
                    "flatPath": "v4/accounts/{accountsId}", 
                    "httpMethod": "PUT", 
                    "id": "mybusiness.accounts.update", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "The name of the account to update.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+$", 
                            "required": true, 
                            "type": "string"
                        }, 
                        "validateOnly": {
                            "description": "If true, the request is validated without actually updating the account.", 
                            "location": "query", 
                            "type": "boolean"
                        }
                    }, 
                    "path": "v4/{+name}", 
                    "request": {
                        "$ref": "Account"
                    }, 
                    "response": {
                        "$ref": "Account"
                    }
                }, 
                "updateNotifications": {
                    "description": "Sets the pubsub notification settings for the account informing My Business\nwhich topic to send pubsub notifications for:\n\n- New reviews for locations administered by the account.\n- Updated reviews for locations administered by the account.\n- New `GoogleUpdates` for locations administered by the account.\n\nAn account will only have one notification settings resource, and only one\npubsub topic can be set.", 
                    "flatPath": "v4/accounts/{accountsId}/notifications", 
                    "httpMethod": "PUT", 
                    "id": "mybusiness.accounts.updateNotifications", 
                    "parameterOrder": [
                        "name"
                    ], 
                    "parameters": {
                        "name": {
                            "description": "The notification settings resource name.", 
                            "location": "path", 
                            "pattern": "^accounts/[^/]+/notifications$", 
                            "required": true, 
                            "type": "string"
                        }
                    }, 
                    "path": "v4/{+name}", 
                    "request": {
                        "$ref": "Notifications"
                    }, 
                    "response": {
                        "$ref": "Notifications"
                    }
                }
            }, 
            "resources": {
                "admins": {
                    "methods": {
                        "create": {
                            "description": "Invites the specified user to become an administrator for the specified\naccount. The invitee must accept the invitation in order to be granted\naccess to the account. See AcceptInvitation to programmatically accept an\ninvitation.", 
                            "flatPath": "v4/accounts/{accountsId}/admins", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.admins.create", 
                            "parameterOrder": [
                                "parent"
                            ], 
                            "parameters": {
                                "parent": {
                                    "description": "The resource name of the account this admin is created for.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+parent}/admins", 
                            "request": {
                                "$ref": "Admin"
                            }, 
                            "response": {
                                "$ref": "Admin"
                            }
                        }, 
                        "delete": {
                            "description": "Removes the specified admin from the specified account.", 
                            "flatPath": "v4/accounts/{accountsId}/admins/{adminsId}", 
                            "httpMethod": "DELETE", 
                            "id": "mybusiness.accounts.admins.delete", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The resource name of the admin to remove from the account.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/admins/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}", 
                            "response": {
                                "$ref": "Empty"
                            }
                        }, 
                        "list": {
                            "description": "Lists the admins for the specified account.", 
                            "flatPath": "v4/accounts/{accountsId}/admins", 
                            "httpMethod": "GET", 
                            "id": "mybusiness.accounts.admins.list", 
                            "parameterOrder": [
                                "parent"
                            ], 
                            "parameters": {
                                "parent": {
                                    "description": "The name of the account from which to retrieve a list of admins.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+parent}/admins", 
                            "response": {
                                "$ref": "ListAccountAdminsResponse"
                            }
                        }, 
                        "patch": {
                            "description": "Updates the Admin for the specified Account Admin. Only the AdminRole of\nthe Admin can be updated.", 
                            "flatPath": "v4/accounts/{accountsId}/admins/{adminsId}", 
                            "httpMethod": "PATCH", 
                            "id": "mybusiness.accounts.admins.patch", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The resource name of the admin to update.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/admins/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}", 
                            "request": {
                                "$ref": "Admin"
                            }, 
                            "response": {
                                "$ref": "Admin"
                            }
                        }
                    }
                }, 
                "invitations": {
                    "methods": {
                        "accept": {
                            "description": "Accepts the specified invitation.", 
                            "flatPath": "v4/accounts/{accountsId}/invitations/{invitationsId}:accept", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.invitations.accept", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the invitation that is being accepted.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/invitations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:accept", 
                            "request": {
                                "$ref": "AcceptInvitationRequest"
                            }, 
                            "response": {
                                "$ref": "Empty"
                            }
                        }, 
                        "decline": {
                            "description": "Declines the specified invitation.", 
                            "flatPath": "v4/accounts/{accountsId}/invitations/{invitationsId}:decline", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.invitations.decline", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the account invitation that is being declined.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/invitations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:decline", 
                            "request": {
                                "$ref": "DeclineInvitationRequest"
                            }, 
                            "response": {
                                "$ref": "Empty"
                            }
                        }, 
                        "list": {
                            "description": "Lists pending invitations for the specified account.", 
                            "flatPath": "v4/accounts/{accountsId}/invitations", 
                            "httpMethod": "GET", 
                            "id": "mybusiness.accounts.invitations.list", 
                            "parameterOrder": [
                                "parent"
                            ], 
                            "parameters": {
                                "parent": {
                                    "description": "The name of the account from which the list of invitations is being\nretrieved.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }, 
                                "targetType": {
                                    "description": "Specifies which target types should appear in the response.", 
                                    "enum": [
                                        "ALL", 
                                        "ACCOUNTS_ONLY", 
                                        "LOCATIONS_ONLY"
                                    ], 
                                    "location": "query", 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+parent}/invitations", 
                            "response": {
                                "$ref": "ListInvitationsResponse"
                            }
                        }
                    }
                }, 
                "locations": {
                    "methods": {
                        "associate": {
                            "description": "Associates a location to a place ID. Any previous association is\noverwritten. This operation is only valid if the location is unverified.\nThe association must be valid, that is, it appears in the list of\n`FindMatchingLocations`.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:associate", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.associate", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The resource name of the location to associate.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:associate", 
                            "request": {
                                "$ref": "AssociateLocationRequest"
                            }, 
                            "response": {
                                "$ref": "Empty"
                            }
                        }, 
                        "batchGet": {
                            "description": "Gets all of the specified locations in the given account.", 
                            "flatPath": "v4/accounts/{accountsId}/locations:batchGet", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.batchGet", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the account from which to fetch locations.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}/locations:batchGet", 
                            "request": {
                                "$ref": "BatchGetLocationsRequest"
                            }, 
                            "response": {
                                "$ref": "BatchGetLocationsResponse"
                            }
                        }, 
                        "batchGetReviews": {
                            "description": "Returns the paginated list of reviews for all specified locations.\nThis operation is only valid if the specified locations are verified.\n<aside class=\"note\"><b>Note:</b> Reviews are limited\nto a batch size of 200 `location_names` per call.</aside>", 
                            "flatPath": "v4/accounts/{accountsId}/locations:batchGetReviews", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.batchGetReviews", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the account from which to retrieve a list of reviews across\nmultiple locations.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}/locations:batchGetReviews", 
                            "request": {
                                "$ref": "BatchGetReviewsRequest"
                            }, 
                            "response": {
                                "$ref": "BatchGetReviewsResponse"
                            }
                        }, 
                        "clearAssociation": {
                            "description": "Clears an association between a location and its place ID. This\noperation is only valid if the location is unverified.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:clearAssociation", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.clearAssociation", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The resource name of the location to disassociate.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:clearAssociation", 
                            "request": {
                                "$ref": "ClearLocationAssociationRequest"
                            }, 
                            "response": {
                                "$ref": "Empty"
                            }
                        }, 
                        "create": {
                            "description": "Creates a new location owned by the\nspecified account, and returns it.", 
                            "flatPath": "v4/accounts/{accountsId}/locations", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.create", 
                            "parameterOrder": [
                                "parent"
                            ], 
                            "parameters": {
                                "parent": {
                                    "description": "The name of the account in which to create this location.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }, 
                                "requestId": {
                                    "description": "A unique request ID for the server to detect duplicated requests.\nWe recommend using UUIDs. Max length is 50 characters.", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "validateOnly": {
                                    "description": "If true, the request is validated without actually creating the location.", 
                                    "location": "query", 
                                    "type": "boolean"
                                }
                            }, 
                            "path": "v4/{+parent}/locations", 
                            "request": {
                                "$ref": "Location"
                            }, 
                            "response": {
                                "$ref": "Location"
                            }
                        }, 
                        "delete": {
                            "description": "Deletes a location.\n\n<aside class=\"note\"><b>Note:</b> If this location cannot be deleted using\nthe API as marked in the\nLocationState, use the [Google My\nBusiness](https://business.google.com/manage/) website.\n\nReturns `NOT_FOUND` if the location does not exist.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}", 
                            "httpMethod": "DELETE", 
                            "id": "mybusiness.accounts.locations.delete", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the location to delete.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}", 
                            "response": {
                                "$ref": "Empty"
                            }
                        }, 
                        "fetchVerificationOptions": {
                            "description": "Reports all eligible verification options for a location in a specific\nlanguage.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:fetchVerificationOptions", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.fetchVerificationOptions", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "Resource name of the location to verify.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:fetchVerificationOptions", 
                            "request": {
                                "$ref": "FetchVerificationOptionsRequest"
                            }, 
                            "response": {
                                "$ref": "FetchVerificationOptionsResponse"
                            }
                        }, 
                        "findMatches": {
                            "description": "Finds all of the possible locations that are a match to the specified\nlocation. This operation is only valid if the location is unverified.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:findMatches", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.findMatches", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The resource name of the location to find matches for.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:findMatches", 
                            "request": {
                                "$ref": "FindMatchingLocationsRequest"
                            }, 
                            "response": {
                                "$ref": "FindMatchingLocationsResponse"
                            }
                        }, 
                        "get": {
                            "description": "Gets the specified location. Returns `NOT_FOUND` if the\nlocation does not exist.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}", 
                            "httpMethod": "GET", 
                            "id": "mybusiness.accounts.locations.get", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the location to fetch.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}", 
                            "response": {
                                "$ref": "Location"
                            }
                        }, 
                        "getGoogleUpdated": {
                            "description": "Gets the Google-updated version of the specified location.\nReturns `NOT_FOUND` if the location does not exist.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:googleUpdated", 
                            "httpMethod": "GET", 
                            "id": "mybusiness.accounts.locations.getGoogleUpdated", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the location to fetch.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:googleUpdated", 
                            "response": {
                                "$ref": "GoogleUpdatedLocation"
                            }
                        }, 
                        "list": {
                            "description": "Lists the locations for the specified account.", 
                            "flatPath": "v4/accounts/{accountsId}/locations", 
                            "httpMethod": "GET", 
                            "id": "mybusiness.accounts.locations.list", 
                            "parameterOrder": [
                                "parent"
                            ], 
                            "parameters": {
                                "filter": {
                                    "description": "A filter constraining the locations to return. The response includes\nonly entries that match the filter. If `filter` is empty, then\nconstraints are applied and all locations (paginated) are retrieved for\nthe requested account.\n\nFor more information about valid fields and example usage, see [Work with\nLocation Data\nGuide](https://developers.google.com/my-business/content/location-data#filter_results_when_you_list_locations).", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "languageCode": {
                                    "description": "The BCP 47 code of language to get display location properties in. If this\nlanguage is not available, they will be provided in the language of the\nlocation. If neither is available, they will be provided in English.", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "orderBy": {
                                    "description": "Sorting order for the request. Multiple fields should be comma-separated,\nfollowing SQL syntax.\nThe default sorting order is ascending. To specify descending order, a\nsuffix \" desc\" should be added.\nValid fields to order_by are location_name and store_code. For example:\n\"location_name, store_code desc\" or \"location_name\" or \"store_code desc\"", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "pageSize": {
                                    "description": "How many locations to fetch per page. Default is 100,\nminimum is 1, and maximum page size is 100.", 
                                    "format": "int32", 
                                    "location": "query", 
                                    "type": "integer"
                                }, 
                                "pageToken": {
                                    "description": "If specified, it fetches the next `page` of locations. The page token\nis returned by previous calls to `ListLocations` when there were more\nlocations than could fit in the requested page size.", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "parent": {
                                    "description": "The name of the account to fetch locations from. If the Account is of AccountType PERSONAL, only Locations that are\ndirectly owned by the Account are returned, otherwise it will return all\naccessible locations from the Account, either directly or indirectly.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+parent}/locations", 
                            "response": {
                                "$ref": "ListLocationsResponse"
                            }
                        }, 
                        "patch": {
                            "description": "Updates the specified location.\n\nPhotos are only allowed on a location that has a Google+ page.\n\nReturns `NOT_FOUND` if the location does not exist.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}", 
                            "httpMethod": "PATCH", 
                            "id": "mybusiness.accounts.locations.patch", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "attributeMask": {
                                    "description": "The IDs of the attributes to update. Only attributes noted in the mask will\nbe updated. If an attribute is present in the mask and not in the location,\nit will be removed. An empty mask will update all attributes.\n\nWhenever this field is set, the update_mask should include attributes as\none of the fields to update.", 
                                    "format": "google-fieldmask", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "name": {
                                    "description": "The name of the location to update.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }, 
                                "updateMask": {
                                    "description": "The specific fields to update. If no mask is specified, then this is\ntreated as a full update and all fields are set to the values passed\nin, which may include unsetting empty fields in the request.", 
                                    "format": "google-fieldmask", 
                                    "location": "query", 
                                    "type": "string"
                                }, 
                                "validateOnly": {
                                    "description": "If true, the request is validated without actually updating the location.", 
                                    "location": "query", 
                                    "type": "boolean"
                                }
                            }, 
                            "path": "v4/{+name}", 
                            "request": {
                                "$ref": "Location"
                            }, 
                            "response": {
                                "$ref": "Location"
                            }
                        }, 
                        "reportInsights": {
                            "description": "Returns a report containing insights on one or more metrics by location.\n\n<aside class=\"note\"><b>Note:</b> Insight reports are limited\nto a batch size of 10 `location_names` per call.</aside>", 
                            "flatPath": "v4/accounts/{accountsId}/locations:reportInsights", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.reportInsights", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The account resource name.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}/locations:reportInsights", 
                            "request": {
                                "$ref": "ReportLocationInsightsRequest"
                            }, 
                            "response": {
                                "$ref": "ReportLocationInsightsResponse"
                            }
                        }, 
                        "transfer": {
                            "description": "Moves a location from an account that the user owns to another account\nthat the same user administers. The user must be an owner of the account\nthe location is currently associated with and must also be at least a\nmanager of the destination account. Returns the Location with its new\nresource name.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:transfer", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.transfer", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "The name of the location to transfer.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:transfer", 
                            "request": {
                                "$ref": "TransferLocationRequest"
                            }, 
                            "response": {
                                "$ref": "Location"
                            }
                        }, 
                        "verify": {
                            "description": "Starts the verification process for a location.", 
                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}:verify", 
                            "httpMethod": "POST", 
                            "id": "mybusiness.accounts.locations.verify", 
                            "parameterOrder": [
                                "name"
                            ], 
                            "parameters": {
                                "name": {
                                    "description": "Resource name of the location to verify.", 
                                    "location": "path", 
                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                    "required": true, 
                                    "type": "string"
                                }
                            }, 
                            "path": "v4/{+name}:verify", 
                            "request": {
                                "$ref": "VerifyLocationRequest"
                            }, 
                            "response": {
                                "$ref": "VerifyLocationResponse"
                            }
                        }
                    }, 
                    "resources": {
                        "admins": {
                            "methods": {
                                "create": {
                                    "description": "Invites the specified user to become an administrator for the specified\nlocation. The invitee must accept the invitation in order to be granted\naccess to the location. See AcceptInvitation to programmatically accept an\ninvitation.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/admins", 
                                    "httpMethod": "POST", 
                                    "id": "mybusiness.accounts.locations.admins.create", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "parent": {
                                            "description": "The resource name of the location this admin is created for.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/admins", 
                                    "request": {
                                        "$ref": "Admin"
                                    }, 
                                    "response": {
                                        "$ref": "Admin"
                                    }
                                }, 
                                "delete": {
                                    "description": "Removes the specified admin as a manager of the specified location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/admins/{adminsId}", 
                                    "httpMethod": "DELETE", 
                                    "id": "mybusiness.accounts.locations.admins.delete", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The resource name of the admin to remove from the location.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/admins/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "Empty"
                                    }
                                }, 
                                "list": {
                                    "description": "Lists all of the admins for the specified location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/admins", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.admins.list", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "parent": {
                                            "description": "The name of the location to list admins of.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/admins", 
                                    "response": {
                                        "$ref": "ListLocationAdminsResponse"
                                    }
                                }, 
                                "patch": {
                                    "description": "Updates the Admin for the specified Location Admin. Only the AdminRole of\nthe Admin can be updated.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/admins/{adminsId}", 
                                    "httpMethod": "PATCH", 
                                    "id": "mybusiness.accounts.locations.admins.patch", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The resource name of the admin to update.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/admins/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "request": {
                                        "$ref": "Admin"
                                    }, 
                                    "response": {
                                        "$ref": "Admin"
                                    }
                                }
                            }
                        }, 
                        "followers": {
                            "methods": {
                                "getMetadata": {
                                    "description": "Get the followers settings for a location.\n\nNOT_FOUND is returned if either the account or the location doesn't exist.\nPRECONDITION_FAILED is returned if the location is not verified nor\nconnected to Maps.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/followers/metadata", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.followers.getMetadata", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The resource name of the location's followers metadata.\naccounts/{account_id}/locations/{location_id}/followers/metadata", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/followers/metadata$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "FollowersMetadata"
                                    }
                                }
                            }
                        }, 
                        "localPosts": {
                            "methods": {
                                "create": {
                                    "description": "Creates a new local post associated with the specified location, and\nreturns it.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/localPosts", 
                                    "httpMethod": "POST", 
                                    "id": "mybusiness.accounts.locations.localPosts.create", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "parent": {
                                            "description": "The name of the location in which to create this local post.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/localPosts", 
                                    "request": {
                                        "$ref": "LocalPost"
                                    }, 
                                    "response": {
                                        "$ref": "LocalPost"
                                    }
                                }, 
                                "delete": {
                                    "description": "Deletes a local post.\nReturns `NOT_FOUND` if the local post does not exist.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/localPosts/{localPostsId}", 
                                    "httpMethod": "DELETE", 
                                    "id": "mybusiness.accounts.locations.localPosts.delete", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the local post to delete.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/localPosts/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "Empty"
                                    }
                                }, 
                                "get": {
                                    "description": "Gets the specified local post.\nReturns `NOT_FOUND` if the local post does not exist.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/localPosts/{localPostsId}", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.localPosts.get", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the local post to fetch.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/localPosts/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "LocalPost"
                                    }
                                }, 
                                "list": {
                                    "description": "Returns a list of local posts associated with a location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/localPosts", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.localPosts.list", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "pageSize": {
                                            "description": "How many local posts to return per page. Default of 20. The minimum is 1,\nand maximum page size is 100.", 
                                            "format": "int32", 
                                            "location": "query", 
                                            "type": "integer"
                                        }, 
                                        "pageToken": {
                                            "description": "If specified, returns the next page of local posts.", 
                                            "location": "query", 
                                            "type": "string"
                                        }, 
                                        "parent": {
                                            "description": "The name of the location whose local posts will be listed.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/localPosts", 
                                    "response": {
                                        "$ref": "ListLocalPostsResponse"
                                    }
                                }, 
                                "patch": {
                                    "description": "Updates the specified local post and returns the updated local post.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/localPosts/{localPostsId}", 
                                    "httpMethod": "PATCH", 
                                    "id": "mybusiness.accounts.locations.localPosts.patch", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the local post to update.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/localPosts/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }, 
                                        "updateMask": {
                                            "description": "The specific fields to update. You must specify each field that is being\nupdated in the mask.", 
                                            "format": "google-fieldmask", 
                                            "location": "query", 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "request": {
                                        "$ref": "LocalPost"
                                    }, 
                                    "response": {
                                        "$ref": "LocalPost"
                                    }
                                }, 
                                "reportInsights": {
                                    "description": "Returns insights for a set of local posts associated with a single listing.\nWhich metrics and how they are reported are options specified in the\nrequest proto.\n<aside class=\"note\"><b>Note:</b> Insight reports are limited\nto 100 `local_post_names` per call.</aside>", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/localPosts:reportInsights", 
                                    "httpMethod": "POST", 
                                    "id": "mybusiness.accounts.locations.localPosts.reportInsights", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the location for which to fetch insights.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}/localPosts:reportInsights", 
                                    "request": {
                                        "$ref": "ReportLocalPostInsightsRequest"
                                    }, 
                                    "response": {
                                        "$ref": "ReportLocalPostInsightsResponse"
                                    }
                                }
                            }
                        }, 
                        "media": {
                            "methods": {
                                "create": {
                                    "description": "Creates a new media item for the location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media", 
                                    "httpMethod": "POST", 
                                    "id": "mybusiness.accounts.locations.media.create", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "parent": {
                                            "description": "The resource name of the location where this media item will be created.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/media", 
                                    "request": {
                                        "$ref": "MediaItem"
                                    }, 
                                    "response": {
                                        "$ref": "MediaItem"
                                    }
                                }, 
                                "delete": {
                                    "description": "Deletes the specified media item.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media/{mediaId}", 
                                    "httpMethod": "DELETE", 
                                    "id": "mybusiness.accounts.locations.media.delete", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the media item to be deleted.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/media/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "Empty"
                                    }
                                }, 
                                "get": {
                                    "description": "Returns metadata for the requested media item.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media/{mediaId}", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.media.get", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the requested media item.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/media/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "MediaItem"
                                    }
                                }, 
                                "list": {
                                    "description": "Returns a list of media items associated with a location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.media.list", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "pageSize": {
                                            "description": "How many media items to return per page. The default value is 100, which is\nalso the maximum supported number of media items able to be added to a\nlocation with the My Business API. Maximum page size is 2500.", 
                                            "format": "int32", 
                                            "location": "query", 
                                            "type": "integer"
                                        }, 
                                        "pageToken": {
                                            "description": "If specified, returns the next page of media items.", 
                                            "location": "query", 
                                            "type": "string"
                                        }, 
                                        "parent": {
                                            "description": "The name of the location whose media items will be listed.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/media", 
                                    "response": {
                                        "$ref": "ListMediaItemsResponse"
                                    }
                                }, 
                                "patch": {
                                    "description": "Updates metadata of the specified media item.\nThis can only be used to update the Category of a media item,\nwith the exception that the new category cannot be COVER or PROFILE.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media/{mediaId}", 
                                    "httpMethod": "PATCH", 
                                    "id": "mybusiness.accounts.locations.media.patch", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the media item to be updated.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/media/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }, 
                                        "updateMask": {
                                            "description": "The specific fields to update. If no mask is specified, then this is\ntreated as a full update and all editable fields are set to the values\npassed in.", 
                                            "format": "google-fieldmask", 
                                            "location": "query", 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "request": {
                                        "$ref": "MediaItem"
                                    }, 
                                    "response": {
                                        "$ref": "MediaItem"
                                    }
                                }, 
                                "startUpload": {
                                    "description": "Generates a `MediaItemDataRef` for media item uploading.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media:startUpload", 
                                    "httpMethod": "POST", 
                                    "id": "mybusiness.accounts.locations.media.startUpload", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "parent": {
                                            "description": "The resource name of the location this media item is to be added to.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/media:startUpload", 
                                    "request": {
                                        "$ref": "StartUploadMediaItemDataRequest"
                                    }, 
                                    "response": {
                                        "$ref": "MediaItemDataRef"
                                    }
                                }
                            }, 
                            "resources": {
                                "customers": {
                                    "methods": {
                                        "get": {
                                            "description": "Returns metadata for the requested customer media item.", 
                                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media/customers/{customersId}", 
                                            "httpMethod": "GET", 
                                            "id": "mybusiness.accounts.locations.media.customers.get", 
                                            "parameterOrder": [
                                                "name"
                                            ], 
                                            "parameters": {
                                                "name": {
                                                    "description": "The resource name of the requested customer media item.", 
                                                    "location": "path", 
                                                    "pattern": "^accounts/[^/]+/locations/[^/]+/media/customers/[^/]+$", 
                                                    "required": true, 
                                                    "type": "string"
                                                }
                                            }, 
                                            "path": "v4/{+name}", 
                                            "response": {
                                                "$ref": "MediaItem"
                                            }
                                        }, 
                                        "list": {
                                            "description": "Returns a list of media items associated with a location that have been\ncontributed by customers.", 
                                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/media/customers", 
                                            "httpMethod": "GET", 
                                            "id": "mybusiness.accounts.locations.media.customers.list", 
                                            "parameterOrder": [
                                                "parent"
                                            ], 
                                            "parameters": {
                                                "pageSize": {
                                                    "description": "How many media items to return per page. The default value is 100, the\nmaximum supported page size is 200.", 
                                                    "format": "int32", 
                                                    "location": "query", 
                                                    "type": "integer"
                                                }, 
                                                "pageToken": {
                                                    "description": "If specified, returns the next page of media items.", 
                                                    "location": "query", 
                                                    "type": "string"
                                                }, 
                                                "parent": {
                                                    "description": "The name of the location whose customer media items will be listed.", 
                                                    "location": "path", 
                                                    "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                                    "required": true, 
                                                    "type": "string"
                                                }
                                            }, 
                                            "path": "v4/{+parent}/media/customers", 
                                            "response": {
                                                "$ref": "ListCustomerMediaItemsResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }, 
                        "questions": {
                            "methods": {
                                "create": {
                                    "description": "Adds a question for the specified location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions", 
                                    "httpMethod": "POST", 
                                    "id": "mybusiness.accounts.locations.questions.create", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "parent": {
                                            "description": "The name of the location to write a question for.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/questions", 
                                    "request": {
                                        "$ref": "Question"
                                    }, 
                                    "response": {
                                        "$ref": "Question"
                                    }
                                }, 
                                "delete": {
                                    "description": "Deletes a specific question written by the current user.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions/{questionsId}", 
                                    "httpMethod": "DELETE", 
                                    "id": "mybusiness.accounts.locations.questions.delete", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the question to delete.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/questions/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "response": {
                                        "$ref": "Empty"
                                    }
                                }, 
                                "list": {
                                    "description": "Returns the paginated list of questions and some of its answers for a\nspecified location.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions", 
                                    "httpMethod": "GET", 
                                    "id": "mybusiness.accounts.locations.questions.list", 
                                    "parameterOrder": [
                                        "parent"
                                    ], 
                                    "parameters": {
                                        "answersPerQuestion": {
                                            "description": "How many answers to fetch per question. The default and maximum\n`answers_per_question` values are 10.", 
                                            "format": "int32", 
                                            "location": "query", 
                                            "type": "integer"
                                        }, 
                                        "filter": {
                                            "description": "A filter constraining the questions to return. The only filter currently\nsupported is \"ignore_answered=true\"", 
                                            "location": "query", 
                                            "type": "string"
                                        }, 
                                        "orderBy": {
                                            "description": "The order to return the questions. Valid options include 'update_time desc'\nand 'upvote_count desc', which will return the questions sorted\ndescendingly by the requested field. The default sort order is 'update_time\ndesc'.", 
                                            "location": "query", 
                                            "type": "string"
                                        }, 
                                        "pageSize": {
                                            "description": "How many questions to fetch per page. The default and maximum `page_size`\nvalues are 10.", 
                                            "format": "int32", 
                                            "location": "query", 
                                            "type": "integer"
                                        }, 
                                        "pageToken": {
                                            "description": "If specified, the next page of questions is retrieved.", 
                                            "location": "query", 
                                            "type": "string"
                                        }, 
                                        "parent": {
                                            "description": "The name of the location to fetch questions for.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+parent}/questions", 
                                    "response": {
                                        "$ref": "ListQuestionsResponse"
                                    }
                                }, 
                                "patch": {
                                    "description": "Updates a specific question written by the current user.", 
                                    "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions/{questionsId}", 
                                    "httpMethod": "PATCH", 
                                    "id": "mybusiness.accounts.locations.questions.patch", 
                                    "parameterOrder": [
                                        "name"
                                    ], 
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the question to update.", 
                                            "location": "path", 
                                            "pattern": "^accounts/[^/]+/locations/[^/]+/questions/[^/]+$", 
                                            "required": true, 
                                            "type": "string"
                                        }
                                    }, 
                                    "path": "v4/{+name}", 
                                    "request": {
                                        "$ref": "Question"
                                    }, 
                                    "response": {
                                        "$ref": "Question"
                                    }
                                }
                            }, 
                            "resources": {
                                "answers": {
                                    "methods": {
                                        "delete": {
                                            "description": "Deletes the answer written by the current user to a question.", 
                                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions/{questionsId}/answers:delete", 
                                            "httpMethod": "DELETE", 
                                            "id": "mybusiness.accounts.locations.questions.answers.delete", 
                                            "parameterOrder": [
                                                "parent"
                                            ], 
                                            "parameters": {
                                                "parent": {
                                                    "description": "The name of the question to delete an answer for.", 
                                                    "location": "path", 
                                                    "pattern": "^accounts/[^/]+/locations/[^/]+/questions/[^/]+$", 
                                                    "required": true, 
                                                    "type": "string"
                                                }
                                            }, 
                                            "path": "v4/{+parent}/answers:delete", 
                                            "response": {
                                                "$ref": "Empty"
                                            }
                                        }, 
                                        "list": {
                                            "description": "Returns the paginated list of answers for a specified question.", 
                                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions/{questionsId}/answers", 
                                            "httpMethod": "GET", 
                                            "id": "mybusiness.accounts.locations.questions.answers.list", 
                                            "parameterOrder": [
                                                "parent"
                                            ], 
                                            "parameters": {
                                                "orderBy": {
                                                    "description": "The order to return the answers. Valid options include 'update_time desc'\nand 'upvote_count desc', which will return the answers sorted\ndescendingly by the requested field. The default sort order is 'update_time\ndesc'.", 
                                                    "location": "query", 
                                                    "type": "string"
                                                }, 
                                                "pageSize": {
                                                    "description": "How many answers to fetch per page. The default and maximum `page_size`\nvalues are 10.", 
                                                    "format": "int32", 
                                                    "location": "query", 
                                                    "type": "integer"
                                                }, 
                                                "pageToken": {
                                                    "description": "If specified, the next page of answers is retrieved.", 
                                                    "location": "query", 
                                                    "type": "string"
                                                }, 
                                                "parent": {
                                                    "description": "The name of the question to fetch answers for.", 
                                                    "location": "path", 
                                                    "pattern": "^accounts/[^/]+/locations/[^/]+/questions/[^/]+$", 
                                                    "required": true, 
                                                    "type": "string"
                                                }
                                            }, 
                                            "path": "v4/{+parent}/answers", 
                                            "response": {
                                                "$ref": "ListAnswersResponse"
                                            }
                                        }, 
                                        "upsert": {
                                            "description": "Creates an answer or updates the existing answer written by the user for\nthe specified question. A user can only create one answer per question.", 
                                            "flatPath": "v4/accounts/{accountsId}/locations/{locationsId}/questions/{questionsId}/answers:upsert", 
[...]
