**/Cargo.lock
**/build_html/
**/target/
*.go
.*.deps
.DS_Store
.timestamp
/.idea/
/.vscode/
gen/**/docs/
gen/doc

# Python: Makefile lead dirs
.pyenv-*
.virtualenv.marker

# Sublime
*.sublime-workspace

# Python: Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# Python: Distribution / packaging
*.egg
*.egg-info/
.Python
.eggs/
.installed.cfg
MANIFEST
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
wheels/

# Python: Installer logs
pip-delete-this-directory.txt
pip-log.txt

# Python: Unit test / coverage reports
*.cover
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
nosetests.xml

# Python: pyenv
.python-version
