{
    "basePath": "",
    "baseUrl": "https://baremetalsolution.googleapis.com/",
    "batchPath": "batch",
    "description": "Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/bare-metal",
    "fullyEncodeReservedExpansion": true,
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "baremetalsolution:v1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://baremetalsolution.mtls.googleapis.com/",
    "name": "baremetalsolution",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {},
    "revision": "20251008",
    "rootUrl": "https://baremetalsolution.googleapis.com/",
    "schemas": {
        "DisableInteractiveSerialConsoleResponse": {
            "description": "Message for response of DisableInteractiveSerialConsole.",
            "id": "DisableInteractiveSerialConsoleResponse",
            "properties": {},
            "type": "object"
        },
        "EnableInteractiveSerialConsoleResponse": {
            "description": "Message for response of EnableInteractiveSerialConsole.",
            "id": "EnableInteractiveSerialConsoleResponse",
            "properties": {},
            "type": "object"
        },
        "LogicalInterface": {
            "description": "Logical interface.",
            "id": "LogicalInterface",
            "properties": {
                "name": {
                    "description": "Interface name. This is not a globally unique identifier. Name is unique only inside the ServerNetworkTemplate. This is of syntax or and forms part of the network template name.",
                    "type": "string"
                },
                "required": {
                    "description": "If true, interface must have network connected.",
                    "type": "boolean"
                },
                "type": {
                    "description": "Interface type.",
                    "enum": [
                        "INTERFACE_TYPE_UNSPECIFIED",
                        "BOND",
                        "NIC"
                    ],
                    "enumDescriptions": [
                        "Unspecified value.",
                        "Bond interface type.",
                        "NIC interface type."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "description": "Represents the metadata of the long-running operation.",
            "id": "OperationMetadata",
            "properties": {
                "apiVersion": {
                    "description": "Output only. API version used to start the operation.",
                    "readOnly": true,
                    "type": "string"
                },
                "cancelRequested": {
                    "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                    "readOnly": true,
                    "type": "boolean"
                },
                "createTime": {
                    "description": "Output only. The time the operation was created.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "endTime": {
                    "description": "Output only. The time the operation finished running.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "statusDetail": {
                    "description": "Output only. Human-readable status of the operation, if any.",
                    "readOnly": true,
                    "type": "string"
                },
                "target": {
                    "description": "Output only. Server-defined resource path for the target of the operation.",
                    "readOnly": true,
                    "type": "string"
                },
                "verb": {
                    "description": "Output only. Name of the verb executed by the operation.",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReconciliationOperationMetadata": {
            "description": "Operation metadata returned by the CLH during resource state reconciliation.",
            "id": "ReconciliationOperationMetadata",
            "properties": {
                "deleteResource": {
                    "deprecated": true,
                    "description": "DEPRECATED. Use exclusive_action instead.",
                    "type": "boolean"
                },
                "exclusiveAction": {
                    "description": "Excluisive action returned by the CLH.",
                    "enum": [
                        "UNKNOWN_REPAIR_ACTION",
                        "DELETE",
                        "RETRY"
                    ],
                    "enumDeprecated": [
                        false,
                        true,
                        false
                    ],
                    "enumDescriptions": [
                        "Unknown repair action.",
                        "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
                        "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResetInstanceResponse": {
            "description": "Response message from resetting a server.",
            "id": "ResetInstanceResponse",
            "properties": {},
            "type": "object"
        },
        "ServerNetworkTemplate": {
            "description": "Network template.",
            "id": "ServerNetworkTemplate",
            "properties": {
                "applicableInstanceTypes": {
                    "description": "Instance types this template is applicable to.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "logicalInterfaces": {
                    "description": "Logical interfaces.",
                    "items": {
                        "$ref": "LogicalInterface"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "Output only. Template's unique name. The full resource name follows the pattern: `projects/{project}/locations/{location}/serverNetworkTemplate/{server_network_template}` Generally, the {server_network_template} follows the syntax of \"bond\" or \"nic\".",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StartInstanceResponse": {
            "description": "Response message from starting a server.",
            "id": "StartInstanceResponse",
            "properties": {},
            "type": "object"
        },
        "StopInstanceResponse": {
            "description": "Response message from stopping a server.",
            "id": "StopInstanceResponse",
            "properties": {},
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Bare Metal Solution API",
    "version": "v1",
    "version_module": true
}