{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/adsensehost": {
                    "description": "View and manage your AdSense host data and associated accounts"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://adsensehost.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AdSense Host",
    "description": "The AdSense Host API gives AdSense Hosts access to report generation, ad code generation, and publisher management capabilities.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/adsense/host/index",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "adsensehost:v4.1",
    "kind": "discovery#restDescription",
    "mtlsRootUrl": "https://adsensehost.mtls.googleapis.com/",
    "name": "adsensehost",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "associationsessions": {
            "methods": {
                "start": {
                    "description": "Create an association session for initiating an association with an AdSense user.",
                    "flatPath": "adsensehost/v4.1/associationsessions/start",
                    "httpMethod": "GET",
                    "id": "adsensehost.associationsessions.start",
                    "parameterOrder": [
                        "productCode",
                        "websiteUrl"
                    ],
                    "parameters": {
                        "callbackUrl": {
                            "description": "The URL to redirect the user to once association is completed. It receives a token parameter that can then be used to retrieve the associated account.",
                            "location": "query",
                            "type": "string"
                        },
                        "productCode": {
                            "description": "Products to associate with the user.",
                            "enum": [
                                "AFC",
                                "AFG",
                                "AFMC",
                                "AFS",
                                "AFV"
                            ],
                            "enumDescriptions": [
                                "AdSense For Content",
                                "AdSense For Games",
                                "AdSense For Mobile Content - deprecated",
                                "AdSense For Search - deprecated",
                                "AdSense For Video"
                            ],
                            "location": "query",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        },
                        "userLocale": {
                            "description": "The preferred locale of the user.",
                            "location": "query",
                            "type": "string"
                        },
                        "websiteLocale": {
                            "description": "The locale of the user's hosted website.",
                            "location": "query",
                            "type": "string"
                        },
                        "websiteUrl": {
                            "description": "The URL of the user's hosted website.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "adsensehost/v4.1/associationsessions/start",
                    "response": {
                        "$ref": "AssociationSession"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/adsensehost"
                    ]
                },
                "verify": {
                    "description": "Verify an association session after the association callback returns from AdSense signup.",
                    "flatPath": "adsensehost/v4.1/associationsessions/verify",
                    "httpMethod": "GET",
                    "id": "adsensehost.associationsessions.verify",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "description": "The token returned to the association callback URL.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "adsensehost/v4.1/associationsessions/verify",
                    "response": {
                        "$ref": "AssociationSession"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/adsensehost"
                    ]
                }
            }
        }
    },
    "revision": "20251029",
    "rootUrl": "https://adsensehost.googleapis.com/",
    "schemas": {
        "AssociationSession": {
            "id": "AssociationSession",
            "properties": {
                "accountId": {
                    "description": "Hosted account id of the associated publisher after association. Present if status is ACCEPTED.",
                    "type": "string"
                },
                "id": {
                    "description": "Unique identifier of this association session.",
                    "type": "string"
                },
                "kind": {
                    "description": "Kind of resource this is, in this case adsensehost#associationSession.",
                    "type": "string"
                },
                "productCodes": {
                    "description": "The products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC (deprecated)",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "redirectUrl": {
                    "description": "Redirect URL of this association session. Used to redirect users into the AdSense association flow.",
                    "type": "string"
                },
                "status": {
                    "description": "Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.",
                    "type": "string"
                },
                "userLocale": {
                    "description": "The preferred locale of the user themselves when going through the AdSense association flow.",
                    "type": "string"
                },
                "websiteLocale": {
                    "description": "The locale of the user's hosted website.",
                    "type": "string"
                },
                "websiteUrl": {
                    "description": "The URL of the user's hosted website.",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "AdSense Host API",
    "version": "v4.1",
    "version_module": true
}